# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://bazxwwwicddnougbtilr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJhenh3d3dpY2Rkbm91Z2J0aWxyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg3MDMxNzIsImV4cCI6MjA5NDI3OTE3Mn0.OiwWpBXgrmgoSPiPXbQH6OMZF16fjNig94n-QvaHT8s
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJhenh3d3dpY2Rkbm91Z2J0aWxyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODcwMzE3MiwiZXhwIjoyMDk0Mjc5MTcyfQ.RFjdiqpuTmkDynam_wY_85ZW6hXW9YHgXAwMluDROK8

# Admin credentials
ADMIN_EMAIL=admin@printyourvibe.co.uk
ADMIN_PASSWORD=AAaa@@11
ADMIN_JWT_SECRET=asdfghjklqwertyuiopzxcvbnm1234556

# App
NEXT_PUBLIC_APP_URL=https://pyv-mockup.vercel.app
